@import '../core/core';
@import 'var/var';
@import 'component/component';
@import 'utilities/utilities';


body {
  font-family: -apple-system,BlinkMacSystemFont,San Francisco,Helvetica Neue,Helvetica,Ubuntu,Roboto,Noto,Segoe UI,Arial,sans-serif;
  color: $color__black;
  padding: 0;
  margin: 0;
  min-height: 100vh;

  img {
    width: 100%;
  }

  a {
    text-decoration: none;
  }
}

ul {
  list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
}

.description {
    display:none;
    position:absolute;
    top: 0px;
    border:1px solid $color__black;
    width:375px;
    height:812px;
}

$barMenuHeight: 2px;
$barMenuMargin: 4px;

.s-menu {
    cursor: pointer;
    position: relative;
    // padding-top: calc( #{$spaces--4} - ((#{$barMenuHeight * 3} + #{$barMenuMargin * 2}) / 2)) ;
    &__bar {
        position: relative;
        
        background: $color__black;
        width: 20px;
        height: $barMenuHeight;
        margin-bottom: $barMenuMargin;
        
    }
    &.is-active {
        padding-top: calc( #{$spaces--4} - ((#{$barMenuHeight * 3} + #{$barMenuMargin * 2}) / 2) + #{$barMenuHeight}) ;
        .s-menu__bar {
            
            &:first-child {
                top: 3px;
                transform: rotate(45deg);
            }
            &:last-child {
                bottom: 3px;
                transform: rotate(-45deg);
            }
            &:nth-child(2) {
                display: none;
            }
        }
    }
}

.mini-preview-wrapper {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  opacity: 0;
  margin-top: -4px;
  border: solid 1px #000;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, .3);
  transition: z-index steps(1) .3s, opacity .3s, margin-top .3s;
}

a:hover .mini-preview-wrapper {
  z-index: 2;
  opacity: 1;
  margin-top: 6px;
  transition: opacity .3s, margin-top .3s;
}

.mini-preview-loading, .mini-preview-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;  
}

.mini-preview-loading {
  display: table;
  height: 100%;
  width: 100%;
  font-size: 1.25rem;
  text-align: center;
  color: #f5ead4;
  background-color: #59513f;
}

.mini-preview-loading::before {
  content: 'Loading...';
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.mini-preview-cover {
  background-color: rgba(0, 0, 0, 0); /* IE fix */
}

.mini-preview-frame {
  border: none;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

//// Preview Styles ////
.preview-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 35px;
}

.title {
  margin-bottom: 0;
  font-size: 2.25rem;
  letter-spacing: 0.5px;
}

.title-sub {
  font-size: 1.4rem;
  letter-spacing: 0.25px;
  margin-bottom: 40px;
}

.mb-4 {
  margin-bottom: 40px;
}

//// Storyline ////
.storyline {
  position: relative;
  width: 100%;
  max-width: 310px;
  height: 400px;
  border-radius: 8px;
  overflow: hidden;
  letter-spacing: 2.8px;

  //// Header & Footer ////
  &-header,
  &-footer {
    position: absolute;
    left: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 15px;
    width: 100%;
    z-index: 100;
  }

  &-header {
    top: 0;
  }

  &-footer {
    bottom: 0;
    .storyline-btn {
      margin-left: auto;
    }
  }

  //// Title ////
  &-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.1rem;
    text-transform: uppercase;
    color: #ffffff;
  }

  //// Btn ////
  &-btn {
    position: relative;
    display: inline-block;
    background-color: transparent;
    border: 1px solid rgba(#ffffff, 0.45);
    border-radius: 25px;
    color: #ffffff;
    z-index: 1;
    padding: 6px 20px;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0;
    &:disabled {
      pointer-events: none;
    }
  }

  //// Image ////
  &-image {
    width: 100%;
    height: 430px;
    &,
    &-author {
      object-fit: cover;
    }
    &-author {
      flex: 0 0 auto;
      width: 26px;
      height: 26px;
      border-radius: 50%;
      margin-right: 10px;
    }
  }

  /////////////// Author ///////////////
  &-author {
    width: 100%;
    color: #ffffff;
    font-size: 1.1rem;
    letter-spacing: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  //// Indicators ////
  &-indicator {
    list-style: none;
    margin-top: -1px;
    margin-bottom: 0;
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    .indicator-item {
      position: relative;
      flex: 1 0 auto;
      height: 2px;
      margin-left: 5px;
      background-color: rgba(#ffffff, 0.3);
      overflow: hidden;
      .indicator-bar {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #ffffff;
        will-change: transform;
        transform: scaleX(0);
        transform-origin: left center;
      }
      &.item-loading {
        .indicator-bar {
          animation: loading 3s linear forwards;
        }
      }
      &.item-loaded {
        .indicator-bar {
          transform: scaleX(1);
        }
      }
    }
  }

  //// Controls ////
  &-control {
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    background-color: transparent;
    border: none;
    box-shadow: none;
    &-prev {
      left: 0;
    }
    &-next {
      right: 0;
    }
  }

  //// Slider ////
  &-slider {
    position: relative;
    height: 100%;
    overflow: hidden;
  }

  &-slide {
    display: none;
    &:before {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2);
    }
    &.slide-active {
      display: block;
    }
  }

  &-text {
    position: absolute;
    width: 100%;
    padding: 15px 30px;
    font-weight: 600;
    line-height: 1.75;
    font-size: 1.6rem;
    letter-spacing: 0;
    color: #ffffff;
    &.text-x-left {
      left: 0;
      text-align: left;
    }
    &.text-x-right {
      right: 0;
      text-align: right;
    }
    &.text-x-center {
      text-align: center;
    }
    &.text-y-top {
      top: 30px;
    }
    &.text-y-center {
      top: 50%;
      transform: translateY(-50%);
    }
    &.text-y-bottom {
      bottom: 50px;
    }
  }
}

@keyframes loading {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}