.u-rotate {
    transform: scale(1);
    transition: transform 0.3s ease-out;
    &:hover {
        // animation-name: rotate; 
        // animation-duration: 2s; 
        // animation-timing-function: linear;
        transform: scale(1.15);
        transition: transform 0.3s ease-out;
    }
}